@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Afacad Flux", serif;
}

div#root {
  width: 100%;
}

.clr-grey {
  background-color: #cfd3d6;
}

.link-hover:hover a {
  color: #fff;
}
.link-hover a {
  color: #0d6efd;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: "Afacad Flux", serif;
}

p,
a,
span,
ul,
ol,
li {
  font-size: 1rem !important;
  color: #000 !important;
  line-height: 1.5rem;
  font-family: "Afacad Flux", serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: block;
}
body .main_class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-us-container {
  display: flex;
  min-height: 100vh;
}

.form-section {
  flex: 1;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
}

.form-content,
.form-content-100 {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-content {
  max-width: 80%;
}

.form-content-100 {
  max-width: 100%;
}

.image-section {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-left: 2px solid #e0e0e0;
}

.form-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.form-content p {
  font-size: 14px;
  color: #666;
}

.form-content .btn-primary {
  background-color: #795548;
  border: none;
}

.form-content .btn-primary:hover {
  background-color: #5d4037;
}

.form-content a {
  text-decoration: none;
  color: #795548;
}

.form-content a:hover {
  text-decoration: underline;
}

.main-section {
  display: flex;
  margin-bottom: 1rem;
}
.main-section .input-field-section {
  display: grid;
  gap: 0.5rem;
}
.main-section input,
.main-section .input-field-section span {
  margin-left: 1rem;
}

.main-section.input-error input {
  border-color: rgb(255, 0, 0);
}

nav.nav.nav-menu a {
  margin: 0 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  text-transform: capitalize;
}
nav.nav.nav-menu a:hover {
  border-color: #0d6efd;
  border-style: solid;
  border-width: 0 0 3px 0;
  transition: all 0.1s ease-in-out;
}
nav.nav.nav-menu .dropdown-menu.show {
  overflow: hidden;
}
nav.nav.nav-menu .dropdown-menu.show a {
  margin: 0;
  padding: 0.5rem 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container .card {
  width: 500px;
}
.form-container .form-label {
  font-weight: 500;
}
.form-container .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.form-container .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.form-container .invalid-feedback {
  display: block;
}

.input-group {
  position: relative;
  margin: 20px 0;
  border-radius: 10px;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #000;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
  background: #fff;
}

.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #000;
  padding: 0 10px;
  background: transparent;
  border: 1.2px solid #000;
  outline: none;
  border-radius: 10px !important;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: 0;
  font-size: 12px;
  background: #fff;
}

.main-section label {
  margin: 0;
}

.section1 h1 {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.section1 .block-section {
  display: flex;
  gap: 1rem;
}
.section1 .block-section .block-inner-section {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #000;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4), 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}
.section1 .block-section .block-inner-section:hover {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4), 10px 10px 0px 0px rgba(0, 0, 0, 0.3), 15px 15px 0px 0px rgba(0, 0, 0, 0.2), 20px 20px 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.section1 .block-section #block-inner-section {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */